* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Large Laptop  */
@media (width > 1024px) {
  /* Header Start
    ------------------- */
  .headerMain {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 12px;
    align-items: center;
    margin-bottom: 40px;
    padding: 0px 40px;
    z-index: 10;
    background-color: white;
  }

  .header-col1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .NavMenuIcon i {
    display: none;
  }

  #openNavMenu {
    display: none;
  }

  .headerMain img.logo {
    width: 80px;
    height: auto;
  }

  nav ul.menuItems {
    display: flex;
    align-items: center;
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
  }

  nav ul li a {
    text-decoration: none;
    margin: 0px 20px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    border: none;
    font-weight: 600;
  }

  nav#navMenu ul li:nth-child(2) {
    font-weight: 600;
  }

  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    /* width: 40px; */
    height: 40px;
  }

  select[name="org-name"] {
    max-width: 185px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    padding: 12px 4px 12px 16px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    max-width: 85px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }
  /* Header End
      --------------------------------- */

  /* Section 1 Start
    ------------------ */
  .section1 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 40px;
  }

  /* Section 1 Column 1 Start
      -------------------------- */
  .section1-column1 {
    width: 70%;
  }

  .leaves-summary-title {
    margin-bottom: 40px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    justify-content: space-between;
  }

  .leave {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
  }

  .whitePart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    height: 60vh;
    padding: 8px 20px 20px 20px;
  }

  .leaveLabel {
    font-size: 20px;
    color: #7c7c7c;
    font-weight: 500;
  }

  .secondRow {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .leaveTotal {
    color: #353a46;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .iconPercent {
    font-size: 20px;
    color: #24bbe6;
  }

  .blackPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: white;
    background-color: #353a46;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
  }

  .thirdLeave .iconPercent {
    color: #df2879;
  }

  /* Section 1 Column 1 End 
      ------------------------------------------------*/

  /* Section 1 Column 2 Start
      -------------------------- */
  .section1-column2 {
    width: 30%;
  }

  .column-next-7-day {
    /* width: 500px; */
    margin: 0 auto;
    padding: 8px 0px 0px 20px;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-size: 16px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.116);
  }

  .date {
    border-bottom: 3px solid rgba(66, 66, 66, 0.041);
    font-size: 18px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .dateUsers {
    padding: 4px 0px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 4px 0;
    font-weight: 600;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .nameTime {
    /* display: inline; */
    font-size: 14px;
    /* line-height: 6px; */
  }

  .timeRange,
  .userStatus {
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  img {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 12px;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .user4 {
    opacity: 0.3;
  }

  /* Section 1 Column 2 End 
      ------------------------------------------------*/

  /* Section 1 End
      ----------------------------------- */

  /* Section 2 Table Start
      -------------------------- */
  .section2 {
    padding: 0px 40px;
  }
  table.table-leave-request {
    width: 100%;
    margin: 0 auto;
    /* padding: 4px 8px; */
    border-collapse: collapse;
    border-spacing: 0px 20px;
  }

  h1.table-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .table-leave-request tr th {
    text-align: start;
    padding: 16px 16px;
    border-bottom: 1px solid #cacac9;
    color: rgb(202, 202, 201);
  }

  td[data-label="Employee Name"] {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
  }

  tr.leave-detail-row {
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
  }

  .leave-detail-row:hover {
    background-color: #f3f3f3;
    transition: 0.3s ease-in-out;
    border: none;
  }

  .table-leave-request tr td {
    padding: 24px 16px;
  }

  .three-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }

  .three-buttons button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button#dissapprove {
    background-color: transparent;
    color: red;
    border: none;
  }

  button#approve {
    background-color: #00de9c;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
  }

  button#more {
    background-color: transparent;
    border: none;
    color: black;
  }

  /* Section 2 Table End 
      ------------------------------------------------*/
}

/* Normal Laptop  */
@media (768px < width <= 1024px) {
  /* Header Start
    ------------------- */
  .headerMain {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 12px;
    align-items: center;
    margin-bottom: 40px;
    padding: 0px 20px;
    z-index: 10;
    background-color: white;
  }

  .header-col1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .NavMenuIcon i {
    display: none;
  }

  #openNavMenu {
    display: none;
  }

  .headerMain img.logo {
    width: 80px;
    height: auto;
  }

  nav ul.menuItems {
    display: flex;
    align-items: center;
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
  }

  nav ul li a {
    text-decoration: none;
    margin: 0px 20px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    border: none;
    font-weight: 600;
  }

  nav#navMenu ul li:first-child {
    font-weight: 600;
  }

  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    /* width: 40px; */
    height: 40px;
  }

  select[name="org-name"] {
    max-width: 185px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    padding: 12px 4px 12px 16px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    max-width: 85px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }
  /* Header End
    ---------------------------------------- */

  /* Section 1 Start
    ------------------ */
  .section1 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 40px;
  }

  /* Section 1 Column 1 Start
        -------------------------- */
  .section1-column1 {
    width: 70%;
  }

  .leaves-summary-title {
    margin-bottom: 40px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    justify-content: space-between;
  }

  .leave {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
  }

  .whitePart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    height: 60vh;
    padding: 8px 20px 20px 20px;
  }

  .leaveLabel {
    font-size: 20px;
    color: #7c7c7c;
    font-weight: 500;
  }

  .secondRow {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .leaveTotal {
    color: #353a46;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .iconPercent {
    font-size: 20px;
    color: #24bbe6;
  }

  .blackPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: white;
    background-color: #353a46;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
  }

  .thirdLeave .iconPercent {
    color: #df2879;
  }

  /* Section 1 Column 1 End 
        ------------------------------------------------*/

  /* Section 1 Column 2 Start
        -------------------------- */
  .section1-column2 {
    width: 30%;
  }

  .column-next-7-day {
    /* width: 500px; */
    margin: 0 auto;
    padding: 8px 0px 0px 20px;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-size: 16px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.116);
  }

  .date {
    border-bottom: 3px solid rgba(66, 66, 66, 0.041);
    font-size: 18px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .dateUsers {
    padding: 4px 0px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 4px 0;
    font-weight: 600;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .nameTime {
    /* display: inline; */
    font-size: 14px;
    /* line-height: 6px; */
  }

  .timeRange,
  .userStatus {
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  img {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 12px;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .user4 {
    opacity: 0.3;
  }

  /* Section 1 Column 2 End 
        ------------------------------------------------*/

  /* Section 1 End
        ----------------------------------- */

  /* Section 2 Table Start
        -------------------------- */
  .section2 {
    padding: 0px 40px;
  }
  table.table-leave-request {
    width: 100%;
    margin: 0 auto;
    /* padding: 4px 8px; */
    border-collapse: collapse;
    border-spacing: 0px 20px;
  }

  h1.table-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .table-leave-request tr th {
    text-align: start;
    padding: 16px 16px;
    border-bottom: 1px solid #cacac9;
    color: rgb(202, 202, 201);
  }

  td[data-label="Employee Name"] {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
  }

  tr.leave-detail-row {
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
  }

  .leave-detail-row:hover {
    background-color: #f3f3f3;
    transition: 0.3s ease-in-out;
    border: none;
  }

  .table-leave-request tr td {
    padding: 24px 16px;
  }

  .three-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }

  .three-buttons button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button#dissapprove {
    background-color: transparent;
    color: red;
    border: none;
  }

  button#approve {
    background-color: #00de9c;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
  }

  button#more {
    background-color: transparent;
    border: none;
    color: black;
  }

  /* Section 2 Table End 
        ------------------------------------------------*/
}

/* Tablet */
@media (425px < width <=768px) {
  /* Header Start
  ------------------- */

  .headerMain {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 50px 0px 20px;
    /* border: 1px solid red; */
    z-index: 10;
    background-color: white;
  }

  .NavMenuIcon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 8px;
    cursor: pointer;
  }

  .NavMenuIcon i {
    font-size: 24px;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
  }

  #openNavMenu {
    display: none;
  }

  #openNavMenu:checked ~ nav {
    visibility: visible;
    transform: scaleY(1);
  }

  .headerMain img.logo {
    width: 60px;
    height: auto;
  }

  nav ul.menuItems {
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 8px 0 20px 0;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px 4px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    background-color: rgb(247, 247, 247);
    border: none;
  }

  .header-col1,
  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    /* width: 35px; */
    height: 35px;
  }

  select[name="org-name"] {
    width: 120px;
    background-color: #f5f5f5;
    border: none;
    padding: 8px 0px 8px 12px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    width: 75px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }

  /* Header End
  --------------------------------- */

  /* Section 1 Start
    ------------------ */
  .section1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 0px 20px;
  }

  /* Section 1 Column 1 Start
          -------------------------- */
  /* .section1-column1 {
      width: 70%;
    } */

  .leaves-summary-title {
    margin-bottom: 40px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-content: space-between;
  }

  .leave {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
  }

  .whitePart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    height: 60vh;
    padding: 8px 20px 20px 20px;
  }

  .leaveLabel {
    font-size: 20px;
    color: #7c7c7c;
    font-weight: 500;
  }

  .secondRow {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .leaveTotal {
    color: #353a46;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .iconPercent {
    font-size: 20px;
    color: #24bbe6;
  }

  .blackPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: white;
    background-color: #353a46;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
  }

  .thirdLeave .iconPercent {
    color: #df2879;
  }

  /* Section 1 Column 1 End 
          ------------------------------------------------*/

  /* Section 1 Column 2 Start
          -------------------------- */
  /* .section1-column2 {
      width: 30%;
    } */

  .column-next-7-day {
    /* width: 500px; */
    margin: 0 auto;
    padding: 8px 0px 0px 20px;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-size: 16px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.116);
  }

  .date {
    border-bottom: 3px solid rgba(66, 66, 66, 0.041);
    font-size: 18px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .dateUsers {
    padding: 4px 0px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 4px 0;
    font-weight: 600;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .nameTime {
    /* display: inline; */
    font-size: 14px;
    /* line-height: 6px; */
  }

  .timeRange,
  .userStatus {
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  img {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 12px;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .user4 {
    opacity: 0.3;
  }

  /* Section 1 Column 2 End 
          ------------------------------------------------*/

  /* Section 1 End
          ----------------------------------- */

  /* Section 2 Table Start
          -------------------------- */
  table.table-leave-request {
    width: 100%;
    padding: 4px 8px;
    /* border-collapse: separate;
            border-spacing: 0px 20px; */
  }

  h1.table-title {
    font-size: 24px;
    margin: 12px;
  }

  .table-leave-request tr th {
    display: none;
  }

  .leave-detail-row {
    display: block;
    border: 1px solid;
    margin-bottom: 28px;
    border-radius: 4px;
  }

  .leave-detail-row:hover {
    background-color: #f3f3f3;
  }

  .table-leave-request tr td {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: end;
    border-bottom: 1px solid black;
    padding: 16px 16px;
  }

  td[data-label="Employee Name"] {
    font-weight: 600;
  }

  .table-leave-request tr td:last-child {
    border-bottom: none;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 24px;
    width: 50%;
    text-align: left;
  }

  .three-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .three-buttons button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button#dissapprove {
    background-color: transparent;
    color: red;
    border: none;
  }

  button#approve {
    background-color: #00de9c;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
  }

  button#more {
    background-color: transparent;
    border: none;
    color: black;
  }

  /* Section 2 Table End 
          ------------------------------------------------*/
}

/* Large Mobile */
@media (375px < width <=425px) {
  /* Header Start
  ----------------------- */

  .headerMain {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 50px 0px 0px;
    /* border: 1px solid red; */
    z-index: 10;
    background-color: white;
  }

  .NavMenuIcon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 8px;
    cursor: pointer;
  }

  .NavMenuIcon i {
    font-size: 24px;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
  }

  #openNavMenu {
    display: none;
  }

  #openNavMenu:checked ~ nav {
    visibility: visible;
    transform: scaleY(1);
  }

  .headerMain img.logo {
    width: 60px;
    height: auto;
  }

  nav ul.menuItems {
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 8px 0 20px 0;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px 4px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    background-color: rgb(247, 247, 247);
    border: none;
  }

  .header-col1,
  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    /* width: 35px; */
    height: 35px;
  }

  select[name="org-name"] {
    width: 120px;
    background-color: #f5f5f5;
    border: none;
    padding: 8px 0px 8px 12px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    width: 75px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }

  /* Header End
    ----------------------------------------------- */

  /* Section 1 Start
    ------------------ */
  .section1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 0px 20px;
  }

  /* Section 1 Column 1 Start
            -------------------------- */
  /* .section1-column1 {
        width: 70%;
      } */

  .leaves-summary-title {
    margin-bottom: 40px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-content: space-between;
  }

  .leave {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
  }

  .whitePart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    height: 60vh;
    padding: 8px 20px 20px 20px;
  }

  .leaveLabel {
    font-size: 20px;
    color: #7c7c7c;
    font-weight: 500;
  }

  .secondRow {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .leaveTotal {
    color: #353a46;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .iconPercent {
    font-size: 20px;
    color: #24bbe6;
  }

  .blackPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: white;
    background-color: #353a46;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
  }

  .thirdLeave .iconPercent {
    color: #df2879;
  }

  /* Section 1 Column 1 End 
            ------------------------------------------------*/

  /* Section 1 Column 2 Start
            -------------------------- */
  /* .section1-column2 {
        width: 30%;
      } */

  .column-next-7-day {
    /* width: 500px; */
    margin: 0 auto;
    padding: 8px 0px 0px 20px;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-size: 16px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.116);
  }

  .date {
    border-bottom: 3px solid rgba(66, 66, 66, 0.041);
    font-size: 18px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .dateUsers {
    padding: 4px 0px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 4px 0;
    font-weight: 600;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .nameTime {
    /* display: inline; */
    font-size: 14px;
    /* line-height: 6px; */
  }

  .timeRange,
  .userStatus {
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  img {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 12px;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .user4 {
    opacity: 0.3;
  }

  /* Section 1 Column 2 End 
            ------------------------------------------------*/

  /* Section 1 End
            ----------------------------------- */

  /* Section 2 Table Start
            -------------------------- */
  table.table-leave-request {
    width: 100%;
    padding: 4px 8px;
    /* border-collapse: separate;
              border-spacing: 0px 20px; */
  }

  h1.table-title {
    font-size: 24px;
    margin: 12px;
  }

  .table-leave-request tr th {
    display: none;
  }

  .leave-detail-row {
    display: block;
    border: 1px solid;
    margin-bottom: 28px;
    border-radius: 4px;
  }

  .leave-detail-row:hover {
    background-color: #f3f3f3;
  }

  .table-leave-request tr td {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: end;
    border-bottom: 1px solid black;
    padding: 16px 16px;
  }

  td[data-label="Employee Name"] {
    font-weight: 600;
  }

  .table-leave-request tr td:last-child {
    border-bottom: none;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 24px;
    width: 50%;
    text-align: left;
  }

  .three-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .three-buttons button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button#dissapprove {
    background-color: transparent;
    color: red;
    border: none;
  }

  button#approve {
    background-color: #00de9c;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
  }

  button#more {
    background-color: transparent;
    border: none;
    color: black;
  }

  /* Section 2 Table End 
            ------------------------------------------------*/
}

/* Medium Mobile */
@media (320px < width <=375px) {
  /* Header Start
  ----------------------- */

  .headerMain {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 50px 0px 0px;
    /* border: 1px solid red; */
    z-index: 10;
    background-color: white;
  }

  .NavMenuIcon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 8px;
    cursor: pointer;
  }

  .NavMenuIcon i {
    font-size: 24px;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
  }

  #openNavMenu {
    display: none;
  }

  #openNavMenu:checked ~ nav {
    visibility: visible;
    transform: scaleY(1);
  }

  .headerMain img.logo {
    width: 60px;
    height: auto;
  }

  nav ul.menuItems {
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 8px 0 20px 0;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px 4px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    background-color: rgb(247, 247, 247);
    border: none;
  }

  .header-col1,
  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    /* width: 35px; */
    height: 35px;
  }

  select[name="org-name"] {
    display: none;
    width: 120px;
    background-color: #f5f5f5;
    border: none;
    padding: 8px 0px 8px 12px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    width: 75px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }

  /* Header End
    ----------------------------------------------- */

  /* Section 1 Start
    ------------------ */
  .section1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 0px 20px;
  }

  /* Section 1 Column 1 Start
            -------------------------- */
  /* .section1-column1 {
        width: 70%;
      } */

  .leaves-summary-title {
    margin-bottom: 40px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-content: space-between;
  }

  .leave {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
  }

  .whitePart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    height: 60vh;
    padding: 8px 20px 20px 20px;
  }

  .leaveLabel {
    font-size: 20px;
    color: #7c7c7c;
    font-weight: 500;
  }

  .secondRow {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .leaveTotal {
    color: #353a46;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .iconPercent {
    font-size: 20px;
    color: #24bbe6;
  }

  .blackPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: white;
    background-color: #353a46;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
  }

  .thirdLeave .iconPercent {
    color: #df2879;
  }

  /* Section 1 Column 1 End 
            ------------------------------------------------*/

  /* Section 1 Column 2 Start
            -------------------------- */
  /* .section1-column2 {
        width: 30%;
      } */

  .column-next-7-day {
    /* width: 500px; */
    margin: 0 auto;
    padding: 8px 0px 0px 20px;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-size: 16px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.116);
  }

  .date {
    border-bottom: 3px solid rgba(66, 66, 66, 0.041);
    font-size: 18px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .dateUsers {
    padding: 4px 0px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 4px 0;
    font-weight: 600;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .nameTime {
    /* display: inline; */
    font-size: 14px;
    /* line-height: 6px; */
  }

  .timeRange,
  .userStatus {
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  img {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 12px;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .user4 {
    opacity: 0.3;
  }

  /* Section 1 Column 2 End 
            ------------------------------------------------*/

  /* Section 1 End
            ----------------------------------- */

  /* Section 2 Table Start
            -------------------------- */
  table.table-leave-request {
    width: 100%;
    padding: 4px 8px;
    /* border-collapse: separate;
              border-spacing: 0px 20px; */
  }

  h1.table-title {
    font-size: 24px;
    margin: 12px;
  }

  .table-leave-request tr th {
    display: none;
  }

  .leave-detail-row {
    display: block;
    border: 1px solid;
    margin-bottom: 28px;
    border-radius: 4px;
  }

  .leave-detail-row:hover {
    background-color: #f3f3f3;
  }

  .table-leave-request tr td {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: end;
    border-bottom: 1px solid black;
    padding: 16px 16px;
  }

  td[data-label="Employee Name"] {
    font-weight: 600;
  }

  .table-leave-request tr td:last-child {
    border-bottom: none;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 24px;
    width: 50%;
    text-align: left;
  }

  .three-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .three-buttons button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button#dissapprove {
    background-color: transparent;
    color: red;
    border: none;
  }

  button#approve {
    background-color: #00de9c;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
  }

  button#more {
    background-color: transparent;
    border: none;
    color: black;
  }

  /* Section 2 Table End 
            ------------------------------------------------*/
}

/* Small Mobile */
@media (280px<= width <= 320px) {
  /* Header Start
  ----------------------- */

  .headerMain {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 50px 0px 0px;
    /* border: 1px solid red; */
    z-index: 10;
    background-color: white;
  }

  .NavMenuIcon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 8px;
    cursor: pointer;
  }

  .NavMenuIcon i {
    font-size: 24px;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
  }

  #openNavMenu {
    display: none;
  }

  #openNavMenu:checked ~ nav {
    visibility: visible;
    transform: scaleY(1);
  }

  .headerMain img.logo {
    width: 60px;
    height: auto;
  }

  nav ul.menuItems {
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 8px 0 20px 0;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px 4px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    background-color: rgb(247, 247, 247);
    border: none;
  }

  .header-col1,
  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    /* width: 35px; */
    height: 35px;
  }

  select[name="org-name"] {
    display: none;
    width: 120px;
    background-color: #f5f5f5;
    border: none;
    padding: 8px 0px 8px 12px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    width: 75px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }

  /* Header End
    ----------------------------------------------- */

  /* Section 1 Start
    ------------------ */
  .section1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 0px 20px;
  }

  /* Section 1 Column 1 Start
            -------------------------- */
  /* .section1-column1 {
        width: 70%;
      } */

  .leaves-summary-title {
    margin-bottom: 40px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-content: space-between;
  }

  .leave {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
  }

  .whitePart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    height: 60vh;
    padding: 8px 20px 20px 20px;
  }

  .leaveLabel {
    font-size: 20px;
    color: #7c7c7c;
    font-weight: 500;
  }

  .secondRow {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .leaveTotal {
    color: #353a46;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .iconPercent {
    font-size: 20px;
    color: #24bbe6;
  }

  .blackPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: white;
    background-color: #353a46;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
  }

  .thirdLeave .iconPercent {
    color: #df2879;
  }

  /* Section 1 Column 1 End 
            ------------------------------------------------*/

  /* Section 1 Column 2 Start
            -------------------------- */
  /* .section1-column2 {
        width: 30%;
      } */

  .column-next-7-day {
    /* width: 500px; */
    margin: 0 auto;
    padding: 8px 0px 0px 20px;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-size: 16px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.116);
  }

  .date {
    border-bottom: 3px solid rgba(66, 66, 66, 0.041);
    font-size: 18px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .dateUsers {
    padding: 4px 0px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 4px 0;
    font-weight: 600;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .nameTime {
    /* display: inline; */
    font-size: 14px;
    /* line-height: 6px; */
  }

  .timeRange,
  .userStatus {
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  img {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 12px;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .user4 {
    opacity: 0.3;
  }

  /* Section 1 Column 2 End 
            ------------------------------------------------*/

  /* Section 1 End
            ----------------------------------- */

  /* Section 2 Table Start
            -------------------------- */
  table.table-leave-request {
    width: 100%;
    padding: 4px 8px;
    /* border-collapse: separate;
              border-spacing: 0px 20px; */
  }

  h1.table-title {
    font-size: 24px;
    margin: 12px;
  }

  .table-leave-request tr th {
    display: none;
  }

  .leave-detail-row {
    display: block;
    border: 1px solid;
    margin-bottom: 28px;
    border-radius: 4px;
  }

  .leave-detail-row:hover {
    background-color: #f3f3f3;
  }

  .table-leave-request tr td {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: end;
    border-bottom: 1px solid black;
    padding: 16px 16px;
  }

  td[data-label="Employee Name"] {
    font-weight: 600;
  }

  .table-leave-request tr td:last-child {
    border-bottom: none;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 24px;
    width: 50%;
    text-align: left;
  }

  .three-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .three-buttons button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button#dissapprove {
    background-color: transparent;
    color: red;
    border: none;
  }

  button#approve {
    background-color: #00de9c;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
  }

  button#more {
    background-color: transparent;
    border: none;
    color: black;
  }

  /* Section 2 Table End 
            ------------------------------------------------*/
}

/* Extra Small Mobile */
@media (width < 280px) {
  /* Header Start
  ----------------------- */

  .headerMain {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 50px 0px 0px;
    /* border: 1px solid red; */
    z-index: 10;
    background-color: white;
  }

  .NavMenuIcon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 8px;
    cursor: pointer;
  }

  .NavMenuIcon i {
    font-size: 24px;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
  }

  #openNavMenu {
    display: none;
  }

  #openNavMenu:checked ~ nav {
    visibility: visible;
    transform: scaleY(1);
  }

  .headerMain img.logo {
    width: 60px;
    height: auto;
  }

  nav ul.menuItems {
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 8px 0 20px 0;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px 4px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    background-color: rgb(247, 247, 247);
    border: none;
  }

  .header-col1,
  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-col2 {
    display: none !important;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    /* width: 35px; */
    height: 35px;
  }

  select[name="org-name"] {
    display: none;
    width: 120px;
    background-color: #f5f5f5;
    border: none;
    padding: 8px 0px 8px 12px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    width: 75px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }

  /* Header End
    ----------------------------------------------- */

  /* Section 1 Start
    ------------------ */
  .section1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 0px 20px;
  }

  /* Section 1 Column 1 Start
            -------------------------- */
  /* .section1-column1 {
        width: 70%;
      } */

  .leaves-summary-title {
    margin-bottom: 40px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-content: space-between;
  }

  .leave {
    display: flex;
    flex-direction: column;
    height: 280px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
  }

  .whitePart {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-evenly;
    height: 60vh;
    padding: 8px 20px 20px 20px;
  }

  .leaveLabel {
    font-size: 20px;
    color: #7c7c7c;
    font-weight: 500;
  }

  .secondRow {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .leaveTotal {
    color: #353a46;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
  }

  .iconPercent {
    font-size: 20px;
    color: #24bbe6;
  }

  .blackPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    color: white;
    background-color: #353a46;
    padding: 0px 20px;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
  }

  .thirdLeave .iconPercent {
    color: #df2879;
  }

  /* Section 1 Column 1 End 
            ------------------------------------------------*/

  /* Section 1 Column 2 Start
            -------------------------- */
  /* .section1-column2 {
        width: 30%;
      } */

  .column-next-7-day {
    /* width: 500px; */
    margin: 0 auto;
    padding: 8px 0px 0px 20px;
    background-color: white;
    border-radius: 4px;
  }

  .title {
    font-size: 16px;
    border-bottom: 3px solid rgba(66, 66, 66, 0.116);
  }

  .date {
    border-bottom: 3px solid rgba(66, 66, 66, 0.041);
    font-size: 18px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .dateUsers {
    padding: 4px 0px;
  }

  .user {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    padding: 4px 0;
    font-weight: 600;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .nameTime {
    /* display: inline; */
    font-size: 14px;
    /* line-height: 6px; */
  }

  .timeRange,
  .userStatus {
    color: rgb(94, 94, 94);
    font-size: 14px;
  }

  img {
    width: 50px;
    /* height: 50px; */
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 12px;
  }

  .col1 {
    display: flex;
    align-items: center;
  }

  .user4 {
    opacity: 0.3;
  }

  /* Section 1 Column 2 End 
            ------------------------------------------------*/

  /* Section 1 End
            ----------------------------------- */

  /* Section 2 Table Start
            -------------------------- */
  table.table-leave-request {
    width: 100%;
    padding: 4px 8px;
    /* border-collapse: separate;
              border-spacing: 0px 20px; */
  }

  h1.table-title {
    font-size: 24px;
    margin: 12px;
  }

  .table-leave-request tr th {
    display: none;
  }

  .leave-detail-row {
    display: block;
    border: 1px solid;
    margin-bottom: 28px;
    border-radius: 4px;
  }

  .leave-detail-row:hover {
    background-color: #f3f3f3;
  }

  .table-leave-request tr td {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: end;
    border-bottom: 1px solid black;
    padding: 16px 16px;
  }

  td[data-label="Employee Name"] {
    font-weight: 600;
  }

  .table-leave-request tr td:last-child {
    border-bottom: none;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 24px;
    width: 50%;
    text-align: left;
  }

  .three-buttons {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .three-buttons button {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button#dissapprove {
    background-color: transparent;
    color: red;
    border: none;
  }

  button#approve {
    background-color: #00de9c;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
  }

  button#more {
    background-color: transparent;
    border: none;
    color: black;
  }

  /* Section 2 Table End 
            ------------------------------------------------*/
}
