* {
  box-sizing: border-box;
}

html,
body {
  /* overflow-x: hidden; */
  /* height: 100%; */
}
body {
  margin: 0;
  padding: 0px 48px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

@media (width<768px) {
  body {
    margin: 0;
    padding: 0px 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
}


/* ------------------------------------------------- 
   Desktop Responsive CSS
  -------------------------------------------------
*/

/*  Header Start 
    -------------------  */
@media (width>768px) {
  .headerMain {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 12px;
    align-items: center;
    /* padding: 0px 50px; */
    z-index: 10;
    background-color: white;
  }

  .header-col1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .NavMenuIcon i {
    display: none;
  }

  #openNavMenu {
    display: none;
  }

  .headerMain img.logo {
    width: 80px;
    height: auto;
  }

  nav ul.menuItems {
    display: flex;
    align-items: center;
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
  }

  nav ul li a {
    text-decoration: none;
    margin: 0px 20px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    border: none;
    font-weight: 600;
  }

  nav#navMenu ul li:first-child {
    font-weight: 600;
  }

  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    width: 40px;
    height: 40px;
  }

  select[name="org-name"] {
    max-width: 185px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: none;
    padding: 12px 4px 12px 16px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    max-width: 85px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }
}

/* ***************************************************** */

/* ------------------------------------------------- 
   Mobile Responsive CSS
  -------------------------------------------------
*/

@media (width<=768px) {
  .headerMain {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    padding: 0px 50px 0px 0px;
    /* border: 1px solid red; */
    z-index: 10;
    background-color: white;
  }

  .NavMenuIcon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 8px;
    cursor: pointer;
  }

  .NavMenuIcon i {
    font-size: 24px;
  }

  nav {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
  }

  #openNavMenu {
    display: none;
  }

  #openNavMenu:checked ~ nav {
    visibility: visible;
    transform: scaleY(1);
  }

  .headerMain img.logo {
    width: 60px;
    height: auto;
  }

  nav ul.menuItems {
    height: auto;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    /* border: 1px solid blue; */
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 8px 0 20px 0;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin: 0px 4px;
    padding: 24px;
    color: rgba(0, 0, 0, 0.8);
  }

  nav ul li a:hover {
    color: black;
    background-color: rgb(247, 247, 247);
    border: none;
  }

  .header-col1,
  .header-col2,
  .user-account-toggle {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .user-account-toggle {
    gap: 4px;
  }

  .user-account-toggle img {
    width: 35px;
    height: 35px;
  }

  select[name="org-name"] {
    width: 120px;
    background-color: #f5f5f5;
    border: none;
    padding: 8px 0px 8px 12px;
    border-radius: 25px;
    overflow: hidden;
  }

  select:focus {
    color: black;
    background-color: #f5f5f5;
    border: none;
  }

  select[name="current-user"] {
    width: 75px;
    background-color: transparent;
    border: none;
    overflow: hidden;
  }
}

/*
  Header End 
  -------------------  */

/* 
    Section 1 CSS Start
  */

.section1 {
  display: grid;
  grid-template-columns: 65% 35%;
  /* padding: 0px 50px; */
}


@media (width<=768px) {
  .section1 {
    display: grid;
    grid-template-columns: auto;
    row-gap: 12px;
    /* padding: 0px 50px; */
  }
}

/* 
  All leaves
*/

.leaves-summary-title {
  margin-left: 15px;
  margin-bottom: 40px;
}

.allLeaves {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* vertical-align: middle; */
  /* padding: 50px 0px; */
}

.leave {
  display: flex;
  width: 33.33%;
  margin: auto 15px;
  flex-direction: column;
  background-color: white;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
}

.secondRow {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.iconPercent {
  color: #24bbe6;
}

.blackPart {
  min-height: 80px;
  /* vertical-align: middle; */
  color: white;
  background-color: #353a46;
  padding: 0px 20px;
  border-radius: 0 0 10px 10px;
}

.leaveMessage {
  /* width: 80%; */
}

.leaveLabel {
  color: #7c7c7c;
  font-weight: 500;
}

.whitePart {
  padding: 15px 20px;
  align-items: center;
}

.leaveTotal {
  color: #353a46;
  font-size: 32px;
  font-weight: 900;
}

.thirdLeave .iconPercent {
  color: #df2879;
}

/* -------------------------
      Mobile Responsive CSS
     --------------------------
  */

@media (width<=768px) {

  .leaves-summary-title {
    margin-bottom: 20px;
  }

  .allLeaves {
    display: grid;
    grid-template-columns: 50% 50%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    gap: 12px;
    justify-content: space-between;
    /* width: 100%; */
    margin: 0 auto;
    padding: 0;
  }
  .leave {
    width: auto;
    /* width: 100%; */
    margin: auto 12px;
    display: flex;
    flex-direction: column;
  }

  /* .leaveMessage {
    width: 100%;
  } */
}

/*
    Leave Stats End -------------------------------
   */

/* 
    Next 7 Days Start
   */

.Section {
  /* width: 500px; */
  margin: 0 auto;
  padding: 8px 30px 100px 30px;
  background-color: white;
  border-radius: 4px;
}

.title {
  font-size: 16px;
  border-bottom: 3px solid rgba(66, 66, 66, 0.116);
}

.date {
  border-bottom: 3px solid rgba(66, 66, 66, 0.041);
  font-size: 18px;
  font-weight: 600;
  color: #5e5e5e;
}

.dateUsers {
  padding: 4px 0px;
}

.user {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  padding: 4px 0;
  font-weight: 600;
}

.col1 {
  display: flex;
  align-items: center;
}

.nameTime {
  /* display: inline; */
  font-size: 14px;
  /* line-height: 6px; */
}

.timeRange,
.userStatus {
  color: rgb(94, 94, 94);
  font-size: 14px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 12px;
}

.col1 {
  display: flex;
  align-items: center;
}

.user4 {
  opacity: 0.3;
}
